<nav class="nav-splash d-flex flex-center">
  <%= link_to unauthenticated_root_path, class: "icon" do%>
    <i class="fa-solid fa-arrow-left back"></i>
  <% end %>
  <h2> SING UP <h1>
</nav>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }, html: { class: "login-form d-flex"}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <div class="input field">
      <%= f.label :name %><br />
      <div>
        <span style="font-size: 20px;"><i class="fa-light fa-user"></i></span>
        <%= f.text_field :name, autofocus: true, class: "text-box" %>
      </div>
    </div>

    <div class="input field" >
      <%= f.label :email %><br />
      <span style="font-size: 20px;"><i class="fa-light fa-envelope-circle-check"></i></span>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-box" %>
    </div>

    <div class="input field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <span style="font-size: 20px;"><i class="fa-light fa-lock"></i></span>
      <%= f.password_field :password, autocomplete: "new-password", class: "text-box" %>
    </div>

    <div class="input field">
      <span style="font-size: 20px;"><i class="fa-light fa-lock-keyhole"></i></span>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "text-box" %>
    </div>

    <%= f.hidden_field :posts_counter, :value => 0 %>

    <div class="actions">
      <%= f.submit "Sign up", class: "login-button" %>
    </div>

    <div class="act d-flex flex-center">
      <% render "devise/shared/links" %>
    </div>
<% end %>